<h1>CARE Users</h1>

<table>
  <tr>
    <th>Employee Id</th>
    <th>Name</th>
    <th>Card number</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.emp_id %></td>
    <td><%= user.emp_name %></td>
    <td><%= user.card_no %></td>
    <td><%= user.email %></td>

  </tr>
<% end %>
</table>
